.navbar-brand img {
    max-width: 125px;
    height: auto;
  }

.navbar-nav .nav-link {
  font-size: 20px;
  color: green;
}

/* Ändere Aussehen des aktiven und hover Punktes */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:hover {
  color: #69a769;
}

.header-content {
  flex-grow: 1; /* Damit der Header-Content den verfügbaren Platz einnimmt */
  text-align: left; /* Zentriert den Text horizontal */
}

@media (max-width: 768px) {
  .header-content {
    display: flex; /* Flexbox verwenden */
    flex-direction: column; /* In Spalten anordnen */
    align-items: flex-start; /* Am Anfang der Spalte ausrichten */
  }

  .header-content h2 {
    font-size: 20px; /* Kleinere Schriftgröße für die Überschrift */
    margin: 0; /* Außenabstände entfernen */
  }

  .header-content p {
    font-size: 12px; /* Kleinere Schriftgröße für den Untertitel */
    margin: 0; /* Außenabstände entfernen */
  }

  .header-content p {
    font-size: 16px; /* Kleinere Schriftgröße für den Untertitel */
  }
  .navbar-brand img {
    max-width: 80px; /* Maximalbreite des Logos */
    height: auto; /* Automatische Anpassung der Höhe */
  }
}

#sideMenu {
  z-index: 1000;
}

/* Menü links oder rechts, je nach Schriftkultur der Besucher */
[dir="rtl"] #sideMenu {
  right: 0;
}

[dir="ltr"] #sideMenu {
  left: 0;
}

#sideMenuToggle .navbar-toggler-icon {
  width: 15px;
  height: 34px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

#sideMenuToggle {
  z-index: 1000;
}
